.but {
     background:none;
     border:none; 
     padding:0;
     font: inherit;
     /*border is optional*/
     cursor: pointer;
     font-size: 20px;
}

ul
{
    list-style-type: none;
}

.but.disabled {
  opacity: 0.50; 
  cursor: default;
}

#alert-info {
color: #00529B;
background-color: #BDE5F8;
}
#alert-success {
color: #4F8A10;
background-color: #DFF2BF;
}
.alert-warning {
color: #9F6000;
background-color: #FEEFB3;
}
.alert-error {
color: #D8000C;
background-color: #FFBABA;
}

.fault {
color: #D8000C;
}

.comments
{
    margin-top:40px;
}

.comments h2
{
    font-size: 18px;
    text-decoration:underline;
}

.linktitle
{
    font-size:25px;
}

.form-field
{
    list-style-type: none;
}

.align-button
{
    margin-top:10px;
}
